* {
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}

header {
  background-image:url("../../Resources/images/the-flatiron-building.png");
  text-align: center;
  color: white;
}
h1 {
  color: white;
}
nav a {
  color: white;
}
h2 {
  color: seagreen;
}

h3 {
  color: darkblue;
}

p {
  font-size: 18px;
}


a {
  color: blue;
  text-decoration: underline;
}

footer {
  background-color: dimgray;

}
